<!DOCTYPE html>
<html>
<head>
	
  <meta charset="UTF-8">
  <title>FLOOR MAP</title>
  <link rel="stylesheet" type="text/css" href="/style.css" />
	
</head>
<body>

  <div class="nav_bar">
    <div class="list_it">КАРТА ЭТАЖА</div>
    <div class="list_it"><a href="timetable">ЗАГРУЗКА АУДИТОРИЙ</a></div>
  </div>

	<div>
		<svg id="svg" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 300 300">
		<--********************************************************************************left rooms>
			<a href="room/r310" >
				<rect x="44" y="67" width="37" height="23" class="rooms"></rect>
				<text x="45" y="71"  class="caption">310</text>
			</a>
			<rect x="44" y="105" width="19" height="7" class="rooms"></rect>
			<text x="45" y="109"  class="caption">308в</text>
			<rect x="44" y="113" width="19" height="7" class="rooms"></rect>
			<text x="45" y="117"  class="caption">308б</text>
			<rect x="44" y="121" width="26" height="7" class="rooms"></rect>
			<text x="45" y="125"  class="caption">308а</text>
			<rect x="44" y="129" width="26" height="7" class="rooms"></rect>
			<text x="45" y="133"  class="caption">307</text>
			<rect x="44" y="137" width="26" height="7" class="rooms"></rect>
			<text x="45" y="141"  class="caption">306в</text>
			<rect x="44" y="145" width="19" height="7" class="rooms"></rect>
			<text x="45" y="149"  class="caption">306б</text>
			<rect x="44" y="153" width="19" height="7" class="rooms"></rect>
			<text x="45" y="157"  class="caption">306а</text>
			<rect x="44" y="161" width="19" height="7" class="rooms"></rect>
			<text x="45" y="165"  class="caption">305в</text>
			<rect x="44" y="169" width="19" height="7" class="rooms"></rect>
			<text x="45" y="173"  class="caption">305б</text>
			<rect x="44" y="177" width="26.5" height="10.5" class="rooms"></rect>
			<text x="45" y="181"  class="caption">305а</text>
		<--********************************************************************************lower rooms>
			<a href="room/r304">
				<rect x="88" y="161" width="15" height="14" class="rooms"></rect>
				<text x="89" y="165"  class="caption">304</text>
			</a>
			<a href="room/r303">
				<rect x="104" y="161" width="16.5" height="14" class="rooms"></rect>
				<text x="105" y="165"  class="caption">303</text>
			</a>
			<a href="room/r302">
				<rect x="121.5" y="161" width="11.5" height="14" class="rooms"></rect>
				<text x="122" y="165"  class="caption">302</text>
			</a>
			<rect x="134" y="161" width="7.5" height="14" class="rooms"></rect>
			<text x="134.5" y="165"  class="caption">301</text>
			<a href="room/r333">
				<rect x="142.5" y="161" width="19" height="14" class="rooms"></rect>
				<text x="143.5" y="165"  class="caption">333</text>
			</a>
			<a href="room/r331">
				<rect x="162.5" y="161" width="7.5" height="14" class="rooms"></rect>
				<text x="163" y="165"  class="caption">331</text>
			</a>
			<a href="room/r330">
				<rect x="171" y="161" width="15" height="14" class="rooms"></rect>
				<text x="172" y="165"  class="caption">330</text>
			</a>
			<a href="room/r329">
				<rect x="187" y="161" width="17.5" height="14" class="rooms"></rect>
				<text x="188" y="165"  class="caption">329</text>
			</a>
			<a href="room/r328">
				<rect x="205.5" y="161" width="16.5" height="14" class="rooms"></rect>
				<text x="206.5" y="165"  class="caption">328</text>
			</a>
		<--********************************************************************************right rooms>
			<rect x="230.5" y="177" width="26.5" height="10.5" class="rooms"></rect>
			<text x="247" y="181" class="caption">327в</text>
			<rect x="240.5" y="169" width="16.5" height="7" class="rooms"></rect>
			<text x="247" y="173" class="caption">327б</text>
			<rect x="240.5" y="161" width="16.5" height="7" class="rooms"></rect>
			<text x="247" y="165" class="caption">327а</text>
			<rect x="233.5" y="149.5" width="23.5" height="10.5" class="rooms"></rect>
			<text x="247" y="153.5" class="caption">326в</text>
			<rect x="240.5" y="141.5" width="16.5" height="7" class="rooms"></rect>
			<text x="247" y="145.5" class="caption">326б</text>
			<rect x="240.5" y="133.5" width="16.5" height="7" class="rooms"></rect>
			<text x="247" y="137.5" class="caption">326а</text>
			<rect x="233.5" y="123.5" width="23.5" height="9" class="rooms"></rect>
			<text x="247" y="127.5" class="caption">325в</text>
			<rect x="240.5" y="115.5" width="16.5" height="7" class="rooms"></rect>
			<text x="247" y="119.5" class="caption">325б</text>
			<rect x="240.5" y="107.5" width="16.5" height="7" class="rooms"></rect>
			<text x="247" y="111.5" class="caption">325а</text>
			<a href="room/r323">
				<rect x="233.5" y="93" width="31.5" height="13.5" class="rooms"></rect>
				<text x="247" y="97" class="caption">323</text>
			</a>
			<a href="room/r322">
				<rect x="233.5" y="86" width="23.5" height="6" class="rooms"></rect>
				<text x="247" y="90" class="caption">322</text>
			</a>
			<a href="room/r321">
				<rect x="233.5" y="79" width="23.5" height="6" class="rooms"></rect>
				<text x="247" y="83" class="caption">321</text>
			</a>
			<a href="room/r319">
				<rect x="233.5" y="63" width="31.5" height="15" class="rooms"></rect>
				<text x="247" y="67" class="caption">319</text>
			</a>
		<--********************************************************************************upper rooms>
			<rect x="190" y="130.5" width="13.5" height="21" class="rooms"></rect>
			<text x="191" y="135" class="caption">317</text>
			<rect x="181.5" y="130.5" width="7.5" height="21" class="rooms"></rect>
			<text x="182" y="135" class="caption">316</text>
			<a href="room/r315">
				<rect x="162.5" y="130.5" width="17.5" height="21" class="rooms"></rect>
				<text x="163.5" y="135" class="caption">315</text>
			</a>
			<rect x="129" y="131" width="12.5" height="20.5" class="rooms"></rect>
			<text x="130" y="135" class="caption">314</text>
			<a href="room/r313">
				<rect x="118" y="131" width="10" height="20.5" class="rooms"></rect>
				<text x="119" y="135" class="caption">313</text>
			</a>
			<a href="room/r312">
				<rect x="104.5" y="131" width="12.5" height="20.5" class="rooms"></rect>
				<text x="105.5" y="135" class="caption">312</text>
			</a>
		<--********************************************************************************external walls>
			<path d="m 43.0 66.0 0.0 24.5 -7.5 0.0 0.0 14.5 7.5 0.0 0.0 83.5 28.5 0.0" class="external_walls" />
			<path d="m 71.5 188.5 0.0 -12.5 158.0 0.0 0.0 12.5" class="external_walls" />
			<path d="m 229.5 188.5 28.5 0.0 0.0 -81.0 8.0 0.0 0.0 -15.5 -8.0 0.0 0.0 -13.0 8.0 0.0 0.0 -17.5" class="external_walls" />
			<path d="m 266.0 62.0 -52.0 0.0 0.0 35.0 9.5 0.0 0.0 25.5 -19.0 0.0 0.0 7.0 -42.0 0.0" class="external_walls" />
			<path d="m 162.5 130.0 0.0 -28.0 19.0 0.0 0.0 -36.0 -59.0 0.0 0.0 36.0 19.0 0.0 0.0 28.0 z" class="external_walls" />
			<path d="m 142.0 130.0 -38.5 0.0 0.0 -7.0 -6.5 0.0 0.0 -19.5 -4.5 0.0 0.0 -13.5 -10.5 0.0 0.0 -24.0 -39.0 0.0" class="external_walls" />
		<--********************************************************************************interior walls>
			<path d="m 92.0 104.0 -9.0 0.0 0.0 48.0 141.0 0.0 0.0 -90.0" class="interior_walls" />
			<path d="m 42.0 104.0 29.0 0.0 0.0 72.0" class="interior_walls" />
			<path d="m 43.0 128.5 28.0 0.0" class="interior_walls" />
			<path d="m 43.0 136.5 28.0 0.0" class="interior_walls" />
			<path d="m 43.0 160.5 28.0 0.0" class="interior_walls" />
			<path d="m 83.0 160.5 142.0 0.0" class="interior_walls" />
			<path d="m 233.0 176.5 0.0 -114.0" class="interior_walls" />
			<path d="m 233.0 160.5 24.5 0.0" class="interior_walls" />
			<path d="m 230.0 176.5 27.5 0.0" class="interior_walls" />
			<path d="m 233.0 133.0 24.5 0.0" class="interior_walls" />
			<path d="m 233.0 107.0 24.5 0.0" class="interior_walls" />
		</svg>
	</div>
</body>
</html>