<!DOCTYPE html>
<html>
<head>
	
  <meta charset="UTF-8">
  <title>SCHEDULE</title>
  <link rel="stylesheet" type="text/css" href="/style.css" />
	
</head>
<body>
		
  <div class="nav_bar">
    <div class="list_it">АУДИТОРИЯ № ___</div>
    <div class="list_it"><a href="../map">КАРТА ЭТАЖА</a></div>
  </div>
						
  <script>
    let div = document.createElement('div');
    div.innerHTML = "<strong>Вы прочитали важное сообщение.</strong>";
    document.body.append(div);
  </script>
	
</body>
</html>